
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:YesevaOne, Regular ; */
}

.container {
    flex-grow: 1;
    top: -40px !important;
    position: relative
    width:auto;

}

.prvi-meni .navbar-menu {
    background-color: #F2F4F6;
}

.prvi-meni .navbar-menu .navbar-end {

    margin-right: 10%;
}

.prvi-meni .navbar-menu .navbar-end .navbar-item {

    font-size: 15px !important;
   
}


.is-active {
    background-color:#FF5470 !important; 
}

.container {
    margin-left: 10%;
   margin-right: 10%;
}

.navbar-brand {
    background-color: white !important;
}

.navbar-item > h1 {
    font-size: 45px;
    color: #00214D;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.navbar-end, .navbar-item {
    font-size: 18px;
    color:#00214D;
    justify-content: space-between !important;
    font-family: 'JosefinSans', 'Regular';
    
}


.fa.fa-search {
   margin-top: 28px;
   color: #00214D;
}

.navbar-end .navbar-item:hover {
    color: #FF5470;
    background-color: white;

}

#udarne-vijesti {
    
    
}

.naslovi {
    
   width: 100%;
   
}

.prva {
    background-color: #FF5470 !important;
    color: white;
    padding: 5px;
}

.druga {
    background-color: #F2F4F6 !important;
    color: #00214D;
    padding: 5px;
}

.treca {
    background-color: #F2F4F6 !important;
    color: #00214D ;
    padding: 5px;
}

.udarna-vijest {
    background-color: #FF5470 !important;
    color: white;
    font-size: 14px;
    padding: 5px !important;
    height: 100%;
    
}

.text {
    font-size: 14px;
    color: #00214D;
    background-color: #F2F4F6;
    width: 90%;
    height: 20px;
}

.columns, .column > h3 {
    color: #00214D !important;
}

.columns, .column > a {
    color: #00214D !important;
}
p {
    color: #00214D !important;
    font-size: 14px !important;
    font-weight:500;
}

#sport {
    font-size: xx-large;
    border-bottom: 2px solid #00214D;
}

h6 {
    color: #00214D !important;
    font-size: 12px !important;
}

h3 {
    font-weight:bold;
}

.footer {
    background-color: #1B2D45 ;
}

h4 {
    color: white !important;

}

h6 {
    color: white !important;
}


/*CSS za Kontakt stranicu*/

#kontaktNaslov {
    font-size: larger;
    border-bottom: 2px solid #00214D;
}

#zaPoruku {
    width: 100% !important;
}

#pratitenas {
    color: #00214D;
    font-family: "Yeseva One";
    font-size: 23.994px !important;
}

.button.is-primary {
    background-color: #FF5470;
    border-color: transparent;
    color: #fff;
}

.send-button {
    min-width: 220px;
}

.pagination-list .pagination-link  {
    border: transparent !important;
    color: #00214D;
}
/* .tabovi {
    background-color: #F2F4F6;
} */

/* .tabs.is-boxed.is-centered{
    background-color: #F2F4F6;
} */

h2 {
   color: #00214D; 
   font-weight: bold;
   font-size: 25px;
   font-family: "Yeseva One";
}

.navbar-item img {
    
    width: 150px;
}


#navbarBasicExample {
    background-color: white !important;
}
h3:hover {
    color: #FF5470;
}